{% load unicorn %}
<div>
    <div class="d-grid gap-1 mt-1">
        <input 
            type="text" 
            unicorn:model.debounce="query" 
            unicorn:change="buscar"
            placeholder="Buscar por serial..."
            class="form-control"
        >
        <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="estado" id="realizados" unicorn:click="realizados">
            <label class="btn btn-outline-success" for="realizados">Realizados</label>
        
            <input type="radio" class="btn-check" name="estado" id="faltantes" unicorn:click="faltantes">
            <label class="btn btn-outline-danger" for="faltantes">Faltantes</label>
        
            <input type="radio" class="btn-check" name="estado" id="todos" unicorn:click="todos" checked>
            <label class="btn btn-outline-primary" for="todos">Todos</label>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <span class="badge bg-success">Realizados: {{ realizados_count }}</span>
            <span class="badge bg-danger">Faltantes: {{ faltantes_count }}</span>
            <span class="badge bg-primary">Total: {{ total_count }}</span>
        </div>
        
    </div>
    <table unicorn:model.defer = "computadores" class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="col">Serial</th>
                <th class="col">¿Mantenimiento realizado?</th>                
            </tr>
        </thead>
        <tbody class="table-group-divider" >
            {% for computador in computadores %}
            <tr>               
                <td>{{ computador.serial }}</td>                                             
                <td>
                    {% if computador.mantenimiento_realizado %}
                    ✅ Sí
                    {% else %}
                    ❌ No
                    {% endif %}
                </td>               
            </tr>
            {% endfor %}
        </tbody>
    </table>  
</div>


  